version: 2

updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "master"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      modules:
        patterns: ["*"]
      security:
        applies-to: "security-updates"
        patterns: ["*"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "master"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      workflows:
        patterns: ["*"]
